/*This is my 201 Contact Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 201 Contact Web Page Project ------------ */

html,
body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-image: url("images/flowers.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;


}

.center {
	width: 60%; /* for responsiveness*/
	min-width: 400px; /*for responsiveness*/
	padding: 2.5%;
	margin: 100px auto 100px auto;
	background: rgb(255, 242, 227);
	text-align: center;
}


#logo {
	width: 40%; /*for responsiveness*/
	min-width: 200px;
	text-align: center;
}

h1 {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */

	font-family: garamond-premier-pro, sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 1.9em;
	margin: 80px auto 60px auto;
	color: rgb(0, 0, 0);
	text-align: center;
	letter-spacing: 1.5px;
	text-decoration:#ed5959 underline;
}

h2 { /*not in use currently*/
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: garamond-premier-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
	line-height: 1.4;
	color: rgb(0, 0, 0);
	padding: 0px 0px;
	margin: 0px auto 0px auto; /*note to self: for margins think trbl-top right bottom left*/
	text-align: center;
}

p {
	/* FONT-FAMILY GOES HERE CHOOSE FROM TYPEKIT OR GOOGLE FONTS */
	font-family: garamond-premier-pro, sans-serif;
	font-weight: 400;	
	font-style: normal;
	font-size: 1.2em;
	line-height: 1.6;
	color: rgb(0, 0, 0);
}

nav {
	font-family: garamond-premier-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.4em;
	width: 80%; /*for responsiveness*/
	margin: 1em auto; /*This centers the entire nav element inside the center div*/
	/*border: solid rgb(0, 0, 0);*/
	/*border-width: 3px 0; /*This puts a 3 pixel border on top and bottom of the nav element, the zero eliminates the left and right sides of the border*/
	text-align: center;
	/*margin-top: 2em; /*This adds a bit of space above the nav element*/
	margin-bottom: 60px;
}

nav li {
	display: inline; /*This allows the block level elements to display next to one another*/
}

nav a {
	display: inline-block;
	padding: 10px; /* This adds space around each other links*/
	margin-left: 15px;
	margin-right: 15px;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none; /*This removes the underline*/
	/*font-weight: bold;*/
}

a:hover {
	color: black;
	/*background: pink; This is the pink hover effect--you'll want to change this! */
	/*text-decoration: underline;*/

}

/* I copied the below code for a hover animation from online, and commented out some of it so that it would work*/

/*<style>*/
/*.w3rcontainer{
   border: 1px solid #cccfdb;
   border-radius: 2px;
} */
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #000000;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ed5959;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*</style>*/
